<div class="">
    <div class="text">
        <!-- TODO estilizar paragrafo -->
        <!-- TODO criar imagem de acompanhamento do site -->
        <h1 class="mat-h1">Hi, I'm Ellian Carlos</h1>
        <p class="mat-h3"><!-- TODO: Transformar todos os textos em um json -->
            Hi, I am a Information Systems student at the Universidade de São Paulo (USP) and a Full Stack Web Developer at Tokenlab!
            Always in love with mathematics, robotics ans science! If you wanna know more about me, just roll down the site, otherwise you can contact me in the links below!
        </p>
        <small class="mat-small">
            You can also contact-me via email: <a mat-button color="primary">elliancarlos@gmail.com</a>
        </small>
        <div>
            <a mat-flat-button color="primary">Social 1</a>
            <a mat-flat-button color="primary">Social 2</a>
        </div>
    </div>

    <mat-card class="card">
        <img mat-card-image src="https://picsum.photos/500/500" alt="Photo of a Shiba Inu"> 
    </mat-card>
</div>
